@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100% !important;
  width: 100% !important;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@layer components {
  .card {
    @apply bg-card rounded p-5 flex flex-col items-center w-1/4;
  }
}
